[Desktop Entry]
Version=1.0
Type=Application
Name=Fetchmirrors
Comment=Update pacman mirrorlist
Exec=sudo fetchmirrors
Icon=deja-dup
Path=
Terminal=true
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/Fetchmirrors.desktop
