[Desktop Entry]
Version=0.3-1
Name=Arch-Wiki
Type=Application
Comment=Search Arch Wiki
Terminal=true
Exec=arch-wiki
Icon=archlinux
Categories=ConsoleOnly;System;
GenericName=Search Wiki
X-XFCE-Source=file:///usr/share/applications/arch-wiki.desktop
