favorites=exo-file-manager.desktop,exo-terminal-emulator.desktop,xfce4-taskmanager.desktop,Install.desktop,Fetchmirrors.desktop,gparted.desktop,chromium.desktop,pavucontrol.desktop,vlc.desktop,gimp.desktop,mousepad.desktop,galculator.desktop,libreoffice-base.desktop,libreoffice-calc.desktop,libreoffice-draw.desktop,libreoffice-impress.desktop,libreoffice-math.desktop,libreoffice-writer.desktop,xfce-settings-manager.desktop
recent=exo-terminal-emulator.desktop,gparted.desktop,nm-connection-editor.desktop,xfce-backdrop-settings.desktop,galculator.desktop,mousepad.desktop,libreoffice-writer.desktop,xfce4-taskmanager.desktop,chromium.desktop,xfce-wmtweaks-settings.desktop
button-title=Menu
button-icon=/usr/share/pixmaps/anarchy-icon.png
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=true
category-show-name=true
category-icon-size=1
load-hierarchy=false
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
menu-width=442
menu-height=612
menu-opacity=82
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=false
command-switchuser=gdmflexiserver
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=false
command-profile=mugshot
show-command-profile=false
search-actions=5

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Web Search
pattern=?
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action2]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action3]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action4]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

