[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/deadhead/Desktop/firefox.desktop]
row=4
col=0

[/home/deadhead/Desktop/libreoffice-writer.desktop]
row=7
col=0

[/home/deadhead/Desktop/exo-terminal-emulator.desktop]
row=3
col=0

[/home/deadhead/Desktop/org.xfce.Parole.desktop]
row=5
col=0

[/home/deadhead/Desktop/gimp.desktop]
row=6
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/deadhead]
row=1
col=0

