[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Plank Panel
Comment=
Exec=plank
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

