/* Allows the extension to change the panel's background with transitions. */

.panel-background-color-transparency {
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 500ms;
}

/* Used to remove odd effects when full transparency is needed. */

.panel-effect-transparency {
  box-shadow: none;
  border: 0;
  /* Gnome Shell specific CSS */
  background-gradient-direction: none;
  background-gradient-start: none;
  background-gradient-end: none;
}

/* Used to remove backgrounds when full transparency is needed. */

.panel-background-image-transparency {
  border-image: none;
  background-image: none;
}

