[Desktop Entry]
Version=1.0
Type=Application
Name=Install
Comment=Install Anarchy Linux
Exec=xfce4-terminal --geometry=90x30 --hide-scrollbar --title="Anarchy Linux Installer" --icon=/usr/share/pixmaps/anarchy-icon.png --command="sudo anarchy"
Icon=intel-installer
Path=
Terminal=true
StartupNotify=false
