[Desktop Entry]
Version=1.0
Type=Application
Name=Clementine
GenericName=Clementine Music Player
Comment=Plays music and last.fm streams
Exec=clementine %U
TryExec=clementine
Icon=clementine
Terminal=false
Categories=AudioVideo;Player;Qt;Audio;
StartupNotify=false
MimeType=application/ogg;application/x-ogg;application/x-ogm-audio;audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wav;video/x-ms-asf;x-content/audio-player;x-scheme-handler/zune;x-scheme-handler/itpc;x-scheme-handler/itms;x-scheme-handler/feed;
Actions=Play;Pause;Stop;Previous;Next;
X-XFCE-Source=file:///usr/share/applications/clementine.desktop

[Desktop Action Play]
Name=Play
Exec=clementine --play
OnlyShowIn=Unity;

[Desktop Action Pause]
Name=Pause
Exec=clementine --pause
OnlyShowIn=Unity;

[Desktop Action Stop]
Name=Stop
Exec=clementine --stop
OnlyShowIn=Unity;

[Desktop Action Previous]
Name=Previous
Exec=clementine --previous
OnlyShowIn=Unity;

[Desktop Action Next]
Name=Next
Exec=clementine --next
OnlyShowIn=Unity;
