[Desktop Entry]
Version=1.0
Type=Application
Name=Drop-Down Terminal
Comment=Ctrl+a shortcut
Exec=xfce4-terminal --drop-down
Icon=final-term
Path=
Terminal=false
StartupNotify=false
