.dpt-panel-maximized-text-color .panel-button { color: rgb(255, 255, 255); }
.dpt-panel-maximized-icon-color .system-status-icon { color: rgb(255, 255, 255); }
.dpt-panel-maximized-arrow-color .popup-menu-arrow { color: rgb(255, 255, 255); }