.dpt-panel-text-color .panel-button { color: rgb(255, 255, 255); }
.dpt-panel-icon-color .system-status-icon { color: rgb(255, 255, 255); }
.dpt-panel-arrow-color .popup-menu-arrow { color: rgb(255, 255, 255); }