[Desktop Entry]
Version=1.0
Type=Application
Name=oblogout
Comment=Power Options
Exec=oblogout
Icon=preferences-desktop-accessibility-symbolic
Path=
Terminal=false
StartupNotify=false
