[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Fetchmirrors.desktop]
row=2
col=0

[/home/user/gparted.desktop]
row=3
col=0

[/home/user/config.tar.gz]
row=4
col=0

[/home/user/Install.desktop]
row=1
col=0

[/home/user]
row=0
col=0

