[Desktop Entry]
Version=1.0
Exec=oblogout
Icon=system-logout
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Logout
Comment=Logout of xfce4
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
Path=
